@charset "utf-8";
@font-face {
	font-family: "Fira Sans OT";
	src: url("FiraSansOT-Regular.otf") format("OpenType");
}
@font-face {
	font-family: "purisa";
	src: url("Purisa.ttf") format("TrueType");
}
@font-face {
	font-family: "purisabold";
	src: url("Purisa-BoldOblique.ttf") format("TrueType");
}
html, body{
	margin:0;
	padding: 0;
}
body {
	background-color: white;
	font-family:'Fira Sans OT', 'Georgia';
	color: #000000;
}
nav {
	/*background-color: gainsboro;*/
	background-color: #000000;
	font-family: 'purisa', 'Georgia';
	z-index: 999;
}
nav h1 {
	font-family: 'purisa', 'purisabold', 'Fira Sans OT', 'Georgia', 'CabinSketch', 'Droid Sans', 'Helvetica', Arial, sans-serif;
	font-style: oblique;
	font-size: 4em;
	font-variant: small-caps;
	text-shadow: 0 0 0.05em white;
	color: black;
	display: inline;
	position: absolute;
	margin: 0.25em 0 0 0.15em;
	float: left;
}
.soft {
	color: black;
	font-family: 'purisa';
	margin-left: 0.15em;
	font-weight: lighter;
	font-variant: small-caps;
	/*font-size: 1.2em;*/
	text-shadow: 0 0 0.05em white;
}
.decor {
	width: 80%;
	margin-left: 10%;
}
.decormin {
	margin-left: 30%;
	width: 40%;
}
.imgmin {
	margin-left: 30%;
	width: 40%;
	-moz-transition: 1s cubic-bezier(.35,0.39,.5,.99);
  	-ms-transition: all 1s ease ;
  	-o-transition: all 1s ease ;
  	-webkit-transition: all 1s ease ;
}
.imgmin:hover {
	transform: scaleX(1.5) scaleY(1.5);
}
.separador {
	height: 3px;
	width: 40%;
}
hgroup{
	text-align: center;
}
ul {
	list-style-type: none;
	margin: 0em;
	padding: 3em 0 0 20em;
	background-color: white;
	/*background-color: #000000;*/
}
ul li {
	display: inline;
	float: left;
	padding-right: 2.5em;
	}
ul li a {
	display: block;
	font-size: 1.1em;
	float: left;
	text-decoration: none;
	color: whitesmoke;
	padding: 0em;
}
ol {
	list-style-type: disc;
	font-size: 1.3em;
}
a:hover {
	color: chocolate;
}
dt {
	font-size: 1.5em;
	font-weight: bold;

}	
dd a {
	/*display: block;*/
	font-size: 1.3em;
	font-style: oblique;
	/*float: left;*/
	/*text-decoration: none;*/
	color: #000000;
	padding: 0em;
}
.enlace {
	/*font-size: 1.3em;*/
	/*font-style: italic;
	color: #000000;*/
	/*color: seagreen;*/
	color: steelblue;
	padding: 0em;
	text-decoration: none;
}
dl {
		list-style-type: square;
}
.clear {
	clear: both;
}
#principal{
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
	height: 100%;
}
#principal nav{
	flex: 1 1 10%;/*1 6 10%*/
	order:1;
}
#principal #contenido{
	flex: 1 1 5%;/* 1 6 5%*/
	order: 2;
	width: 100%;
	/*background-color: #421600;*/
	/*padding-bottom: 2em;*/
}
#principal footer{
	flex: 1 1 80%;/*3 1 80%*/
	order: 3;
}
.cuerpo {
  top: 50%;
  width: 63%;
  min-height: 397px;
  margin-left: 20%;
  margin-top: 1em;
  /*font-size: 1.1em;*/
  padding: 1em;
  z-index: 998;
  /*background-color: rgba(230, 230, 250, 0.3);*/
  /*background-color: whitesmoke;*/
 /* -webkit-box-shadow: 10px 10px 5px #888;*/
 /* box-shadow: 10px 10px 5px #888;*/
  background-size: 100% 100%;
 /* border-radius: 1em;*/
}
.cuerpo footer{
	padding-bottom: 1.5em;
	/*border-bottom: 10px groove black;*/
	/*border-radius: 1em;*/
}
.cuerpo h1{
	font-size: 2em;
	margin-bottom: 0;
	text-align: center;
}
h2{
	text-align: center;
}
/*.cuerpo:hover{
	 /* background-color: rgba(230, 230, 250, 0.3);
  /*background-color: whitesmoke;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  border-radius: 1em;
}*/
#contenido{
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
	height: 100%;
}
#contenido header{
	flex: 1 1 10%;
	order: 1;
	padding-left: 1em;
}
#contenido article p{
	flex: 1 1 95%;
	order: 2;
	padding-left: 1em;
	text-indent: 1em;
	font-size: 1.3em;
}
#contenido footer{
	flex: 1 1 5%;
	order: 3;
}
#licencia {
	font-size: 0.8em;
	text-align: center;
	margin-top: 1em;
	z-index: 997;
}
.efecto1:hover {
  transform: scaleX(1.5) scaleY(1.5);
  /*-ms-transform: scaleX(2) scaleY(2);
  -o-transform: scaleX(2) scaleY(2);
  -webkit-transform: scaleX(2) scaleY(2);*/
}
.anima {
	position: fixed;
	width: 50%;
	margin-left: 25%;
	z-index: 0;
}
.efecto1 {
  position: static;
  width: 70%;
  padding-left: 15%;
  -moz-transition: 1s cubic-bezier(.35,0.39,.5,.99);
  -ms-transition: all 1s ease ;
  -o-transition: all 1s ease ;
  -webkit-transition: all 1s ease ;
}
.anim {
	position: fixed;
	width: 80%;
	z-index: 0;
}
